body {
    font-family: "JetBrains Mono", monospace;
    color: #ffffff;
    background-color: #0f172a; /* dark blue tone */
    background-image: linear-gradient(to right, #0f172a, #1e293b);
}


.form-control {
    color: #ffffff;
    border: 2px solid #38bdf8;
    border-radius: 12px;
    background-color: transparent;
    transition: 0.3s;
}

.form-control::placeholder {
    color: #94a3b8;
}

.form-control:focus {
    box-shadow: 0 0 10px #38bdf8;
    border-color: #38bdf8;
}

.field {
    margin: 30px 0;
}

.btn-clear {
    position: relative;
    float: right;
    cursor: pointer;
    border: 2px solid #ef4444;
    padding: 5px 12px;
    border-radius: 10px;
    margin: 10px 10px -10px 0;
    transition: 0.3s;
    color: #ffffff;
}

.btn-clear:hover {
    transform: scale(1.05);
    background-color: #ef4444;
}

.page_title {
    text-align: center;
    margin: 20px 0 10px;
    font-weight: bold;
}

p {
    text-align: center;
    color: #94a3b8;
}

#word_counter,
#character_counter,
#line_counter {
    font-size: 22px;
    color: #22c55e;
    font-weight: bold;
    padding: 10px;
}
